pip>=24.3.1
setuptools>=75.6.0
numpy==1.24.4  # Required only because of elasticsearch[async]==7.10.1
pydantic==2.11.7  # 2.10.3
aiohttp
redis==5.2.1
aioredis==2.0.1
tzlocal
python-multipart # Moze nie byc potrzebne
lark==1.1.2
git+https://github.com/Tracardi/dotty_dict@master
dateparser
pytz
pytimeparse
jsonschema==4.3.3
python-dateutil
email-validator
urllib3>=1.26,<2  # Moze nie byc potrzebne
geoip2~=4.2.0
aiomysql
PyYAML>=6.0
jinja2
python-dotenv
msgpack==1.0.5
user-agents==2.2.0
SQLAlchemy==2.0.36

# Used by sqlite + sqlachemy
aiosqlite==0.21.0

# Summarizer AI
pydantic-ai==0.4.4

# Worker requirements
requests>=2.0.0,<3

# System
durable-dot-dict>=0.0.24
kafka-python==2.3.0  # old 2.0.2, 2.1.5
confluent-kafka==2.13.0
duckdb==1.4.1
pyarrow==21.0.0
pandas==2.2.3
dotdict_parser>=0.7.2
qdrant-client
prometheus-client==0.24.0
sklearn
