pydantic
jinja2
durable-dot-dict>=0.0.22
python-dateutil
requests
airembr-pararun-os>=0.0.5
orjson
pytz
pytimeparse
pydantic-ai==1.27.0
user-agents==2.2.0

# Commercial must install commercial pararun - this is done in docker
# git+https://github.com/airembr/pararun@master